torch==2.3.0
torchvision==0.18.0
numpy==1.26.4
matplotlib==3.8.4
scikit-learn==1.4.2
opencv-python==4.9.0.80
tqdm==4.66.4
segmentation-models-pytorch==0.3.4
albumentations==1.4.0
nibabel==5.2.1
pandas==2.2.2
seaborn==0.13.2
Pillow==10.4.0
torchinfo==1.8.0
kaggle==1.6.17
